<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<!-- La page html a été mise sous extension ejs pour pouvoir recevoir des paramètres. 
     Le quizz est mis sous forme de tableau pour aligner les questions et réponses proprement.
     L'utilisateur doit répondre à chaque question avant de connaitre le résultat. -->

<h1>Quizz Open Trivia</h1>

<form action="/resultat">
<table>
  <tr>
    <td>Question 1 : <%-q1%></td>
	<td> <input type="radio" required name="reponse1" value="True"> Vrai<br> </td>
    <td> <input type="radio" required name="reponse1" value="False"> Faux<br> </td>
  </tr>
  <tr>
    <td>Question 2 : <%-q2%></td>
	<td> <input type="radio" required name="reponse2" value="True"> Vrai<br> </td>
    <td> <input type="radio" required name="reponse2" value="False"> Faux<br> </td>
  </tr>
  <tr>
    <td>Question 3 : <%-q3%></td>
	<td> <input type="radio" required name="reponse3" value="True"> Vrai<br> </td>
    <td> <input type="radio" required name="reponse3" value="False"> Faux<br> </td>
  </tr>
  <tr>
    <td>Question 4 : <%-q4%></td>
	<td> <input type="radio" required name="reponse4" value="True"> Vrai<br> </td>
    <td> <input type="radio" required name="reponse4" value="False"> Faux<br> </td>
  </tr>
  <tr>
    <td>Question 5 : <%-q5%></td>
	<td> <input type="radio" required name="reponse5" value="True"> Vrai<br> </td>
    <td> <input type="radio" required name="reponse5" value="False"> Faux<br> </td>
  </tr>
  <tr>
    <td>Question 6 : <%-q6%></td>
	<td> <input type="radio" required name="reponse6" value="True"> Vrai<br> </td>
    <td> <input type="radio" required name="reponse6" value="False"> Faux<br> </td>
  </tr>
  <tr>
    <td>Question 7 : <%-q7%></td>
	<td> <input type="radio" required name="reponse7" value="True"> Vrai<br> </td>
    <td> <input type="radio" required name="reponse7" value="False"> Faux<br> </td>
  </tr>
  <tr>
    <td>Question 8 : <%-q8%></td>
	<td> <input type="radio" required name="reponse8" value="True"> Vrai<br> </td>
    <td> <input type="radio" required name="reponse8" value="False"> Faux<br> </td>
  </tr>
  <tr>
    <td>Question 9 : <%-q9%></td>
	<td> <input type="radio" required name="reponse9" value="True"> Vrai<br> </td>
    <td> <input type="radio" required name="reponse9" value="False"> Faux<br> </td>
  </tr>
  <tr>
    <td>Question 10 : <%-q10%></td>
	<td> <input type="radio" required name="reponse10" value="True"> Vrai<br> </td>
    <td> <input type="radio" required name="reponse10" value="False"> Faux<br> </td>
  </tr>
</table>
	    
  <input type="submit" value="Résultat">
</form> 

</body>
</html>
