<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title> Quizz Resultats </title>
	<%- cssFile.style%>
</head>
<body>

<!-- Affichage du résultat -->

<h2>Vous avez eu <%=total%> bonnes réponses !</h2>

<!-- Affichage du résultat pour chaque question -->

<table>
  <tr>
    <td>Question 1 : <%-q1%></td>
	<td>Your answer : <%=reponse1%> </td>
	<td class=<%=resultat1%> > <%=resultat1%> </td>
  </tr>
  <tr>
    <td>Question 2 : <%-q2%></td>
	<td>Your answer : <%=reponse2%> </td>
	<td class=<%=resultat2%> > <%=resultat2%> </td>
  </tr>
  <tr>
    <td>Question 3 : <%-q3%></td>
	<td>Your answer : <%=reponse3%> </td>
	<td class=<%=resultat3%> > <%=resultat3%> </td>
  </tr>
  <tr>
    <td>Question 4 : <%-q4%></td>
	<td>Your answer : <%=reponse4%> </td>
	<td class=<%=resultat4%> > <%=resultat4%> </td>
  </tr>
  <tr>
    <td>Question 5 : <%-q5%></td>
	<td>Your answer : <%=reponse5%> </td>
	<td class=<%=resultat5%> > <%=resultat5%> </td>
  </tr>
  <tr>
    <td>Question 6 : <%-q6%></td>
	<td>Your answer : <%=reponse6%> </td>
	<td class=<%=resultat6%> > <%=resultat6%> </td>
  </tr>
  <tr>
    <td>Question 7 : <%-q7%></td>
	<td>Your answer : <%=reponse7%> </td>
	<td class=<%=resultat7%> > <%=resultat7%> </td>
  </tr>
  <tr>
    <td>Question 8 : <%-q8%></td>
	<td>Your answer : <%=reponse8%> </td>
	<td class=<%=resultat8%> > <%=resultat8%> </td>
  </tr>
  <tr>
    <td>Question 9 : <%-q9%></td>
	<td>Your answer : <%=reponse9%> </td>
	<td class=<%=resultat9%> > <%=resultat9%> </td>
  </tr>
  <tr>
    <td>Question 10 : <%-q10%></td>
	<td>Your answer : <%=reponse10%> </td>
	<td class=<%=resultat10%> > <%=resultat10%> </td>
  </tr>
</table>

<!-- Bouton permettant de refaire un quizz -->

<form action = "../">
<input type="submit" value="Réessayer">
</form>

</body>
</html>