<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<%- cssFile.style%>
</head>
<body>

<h2>Vous avez eu <%=total%> bonnes réponses !</h2>

<table>
  <tr>
    <td>Question 1 : <%-q1%></td>
	<td> <input type="radio" name="reponse1" value="True"> Vrai<br> </td>
    <td> <input type="radio" name="reponse1" value="False"> Faux<br> </td>
	<td class=<%=resultat1%> > <%=resultat1%> </td>
  </tr>
  <tr>
    <td>Question 2 : <%-q2%></td>
	<td> <input type="radio" name="reponse2" value="True"> Vrai<br> </td>
    <td> <input type="radio" name="reponse2" value="False"> Faux<br> </td>
	<td class=<%=resultat2%> > <%=resultat2%> </td>
  </tr>
  <tr>
    <td>Question 3 : <%-q3%></td>
	<td> <input type="radio" name="reponse3" value="True"> Vrai<br> </td>
    <td> <input type="radio" name="reponse3" value="False"> Faux<br> </td>
	<td class=<%=resultat3%> > <%=resultat3%> </td>
  </tr>
  <tr>
    <td>Question 4 : <%-q4%></td>
	<td> <input type="radio" name="reponse4" value="True"> Vrai<br> </td>
    <td> <input type="radio" name="reponse4" value="False"> Faux<br> </td>
	<td class=<%=resultat4%> > <%=resultat4%> </td>
  </tr>
  <tr>
    <td>Question 5 : <%-q5%></td>
	<td> <input type="radio" name="reponse5" value="True"> Vrai<br> </td>
    <td> <input type="radio" name="reponse5" value="False"> Faux<br> </td>
	<td class=<%=resultat5%> > <%=resultat5%> </td>
  </tr>
  <tr>
    <td>Question 6 : <%-q6%></td>
	<td> <input type="radio" name="reponse6" value="True"> Vrai<br> </td>
    <td> <input type="radio" name="reponse6" value="False"> Faux<br> </td>
	<td class=<%=resultat6%> > <%=resultat6%> </td>
  </tr>
  <tr>
    <td>Question 7 : <%-q7%></td>
	<td> <input type="radio" name="reponse7" value="True"> Vrai<br> </td>
    <td> <input type="radio" name="reponse7" value="False"> Faux<br> </td>
	<td class=<%=resultat7%> > <%=resultat7%> </td>
  </tr>
  <tr>
    <td>Question 8 : <%-q8%></td>
	<td> <input type="radio" name="reponse8" value="True"> Vrai<br> </td>
    <td> <input type="radio" name="reponse8" value="False"> Faux<br> </td>
	<td class=<%=resultat8%> > <%=resultat8%> </td>
  </tr>
  <tr>
    <td>Question 9 : <%-q9%></td>
	<td> <input type="radio" name="reponse9" value="True"> Vrai<br> </td>
    <td> <input type="radio" name="reponse9" value="False"> Faux<br> </td>
	<td class=<%=resultat9%> > <%=resultat9%> </td>
  </tr>
  <tr>
    <td>Question 10 : <%-q10%></td>
	<td> <input type="radio" name="reponse10" value="True"> Vrai<br> </td>
    <td> <input type="radio" name="reponse10" value="False"> Faux<br> </td>
	<td class=<%=resultat10%> > <%=resultat10%> </td>
  </tr>
</table>

<form action = "../">
<input type="submit" value="Réessayer">
</form>

</body>
</html>